ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8cba9;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
  }

  li a:hover {
    background-color: #dfb596;
  }